/* styles.css */
body {
    overflow-x: hidden;
}
header {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    width: 100%;
    height: auto;
}

/* Cambiar el color del desplazamiento vertical */
::-webkit-scrollbar {
    width: 6px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
    background-color: blueviolet; /* Color de fondo de la pista de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background-color: purple; /* Color del "pulgarcito" de desplazamiento */
}

h1 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    font-size: 48px;
    letter-spacing: 10%;
    color: #D1C4E9; /* Este es un tono de violeta claro */
    -webkit-text-stroke: 0.0001px white; /* Añade un borde blanco alrededor del texto */
    
    position: absolute;
    top: 1085px;
    left: 189px;
    width: 1128px;
    height: 60px;
}

.random-circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  
  .circle {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5); /* Color del círculo blanco semi-transparente */
    border-radius: 50%;
  }
  
  


h2 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: mixed;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 10%;
    color: #FFFFFF;
    position: absolute;
    top: 1277px;
    left: 189px;
    width: 870px;
    height: 417px;
}

h3 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 10%;
    color: #D1C4E9; /* Este es un tono de violeta claro */
    -webkit-text-stroke: 0.000001ch white; /* Añade un borde blanco alrededor del texto */
    
    position: absolute;
    left: 36%;
}

.title-final{
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 10%;
    color: #D1C4E9; /* Este es un tono de violeta claro */
    -webkit-text-stroke: 0.000001ch white; /* Añade un borde blanco alrededor del texto */
    
    position: absolute;
    left: 28%;
}

#great {
    cursor: crosshair;
}

#warning {
    cursor: help;
}

#error{
    cursor: zoom-in;
}

/* Hide the images by default */
.mySlidesB {
display: none;
}

.mySlidesP {
    display: none;
}

.mySlidesR {
    display: none;
}

/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

