h1,h2{ 
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    letter-spacing: 10%;
}

h1.titulo-principal,
h2.sub-title {
    position: absolute;
    top: 250px;
    left: 250px;
    text-shadow: 2px 2px 4px rgba(177, 6, 241, 2);
}

h1.titulo-principal {
    color: #D1C4E9;
    -webkit-text-stroke: 0.000001ch white;
    text-align: center;
    font-size: 50px;
}

h2.sub-title {
    color: #ba99f7;
    font-size: 3em;
    -webkit-text-stroke: 0.000001ch #26003D;
    top: 310px;
    text-shadow: 3px 3px 6px rgba(255, 255, 255, 0.2);
}

h1.titulo-info {
    margin-left: 8%;
    color: #ba99f7;
    font-size: 2.9em;
    -webkit-text-stroke: 0.000001ch #26003D;
    text-shadow: 2px 2px 4px rgba(177, 6, 241, 2);
}

h2.parrafo-info {
    margin-left: 8%;
    color: #D1C4E9;
    -webkit-text-stroke: 0.000001ch white;
    text-shadow: 3px 3px 6px rgba(255, 255, 255, 1);
}


.color-fondo {
    background-color: #26003D;
}

img.imagen-fondo {
    width: 50%;
}


p.titulo-seccion{
    display: flex; justify-content: center; align-items: center;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 10%;
    color: #D1C4E9; /* Este es un tono de violeta claro */
    -webkit-text-stroke: 0.000001ch white; /* Añade un borde blanco alrededor del texto */
    text-shadow: 2px 2px 4px rgba(177, 6, 241, 1); /* Sombra de color morado claro */

            
}

::-webkit-scrollbar {
    width: 6px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
    background-color: blueviolet; /* Color de fondo de la pista de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background-color: purple; /* Color del "pulgarcito" de desplazamiento */
}


.titulo-seccion-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 10%;
    color: #D1C4E9;
    -webkit-text-stroke: 0.000001ch white;
    text-shadow: 2px 2px 4px rgba(177, 6, 241, 1);
}

.botones-container {
    position: relative;
    text-align: center;
}

.boton-enlace {
    opacity: 0%;
    position: absolute;
    display: block;
}

.boton {
    cursor: pointer;
    width: 400px;
    height: 200px;
    background-color: white;
    color: #26003D;
    font-size: 24px;
}

#great.boton-enlace {
    opacity: 0%;
    position: absolute;
    top: 20%;
    left: 32%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
    z-index: 1;
    display: block;
}

#warning.boton-enlace{
    opacity: 0%;
    position: absolute; 
    top: 20%; 
    left: 64%; 
    transform: translate(-50%, -50%); 
    width: 400px; 
    height: 200px; 
    z-index: 1; 
    display: block;
}

#error.boton-enlace{
    opacity: 0%; 
    position: absolute; 
    top: 78%; 
    left: 42%; 
    transform: translate(-50%, -50%); 
    width: 190px; 
    height: 275px; 
    z-index: 1; 
    display: block;
}

#great {
    cursor: crosshair;
}

#warning {
    cursor: help;
}

#error{
    cursor: zoom-in;
}

.group-image {
    width: 100%;
    height: auto;
}

/* Estilos para la sección de "INFÓRMATE MÁS SOBRE LA INTELIGENCIA ARTIFICIAL" */
.informate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 10%;
    color: #D1C4E9;
    -webkit-text-stroke: 0.000001ch white;
    text-shadow: 2px 2px 4px rgba(177, 6, 241, 1);
}

.video {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: auto;
}

.size-video{
    width:560px;
    height:315px
}

.video iframe {
    border: 6px solid #AD2BFF;
    border-radius: 10px;
}

/* Estilos para la sección de "Cuéntanos tu opinión Sobre la IA en la educación superior" */
.center-item{
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.cuentanos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 10%;
    color: #D1C4E9;
    -webkit-text-stroke: 0.000001ch white;
    text-shadow: 2px 2px 4px rgba(177, 6, 241, 1);
}

.encuestas-container {
    display: flex;
    justify-content: center;
}

.encuesta-icon {
    margin-right: 5%;
    width: 15%;
    height: 7.5%;
}

/* Estilos generales */
.color-fondo {
    background-color: #26003D;
}

/* Otros estilos específicos (añade los tuyos si es necesario) */

/* Estilos para el ícono de Instagram */
.instagram-icon {
    width: 52.5%;
    transition: transform 0.3s ease;
}

img{
    transition: transform 0.3s ease;
}

.facebook-icon {
    width: 50%;
    margin-left: 4.5%;
    transition: transform 0.3s ease;
}

.facebook-icon:hover{
    transform: scale(1.1); /* Aumenta el tamaño al pasar el ratón sobre la imagen */
}

.instagram-icon:hover{
    transform: scale(1.1); /* Aumenta el tamaño al pasar el ratón sobre la imagen */
}

.title-final{
    display: flex; justify-content: center; align-items: center;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 10%;
    color: #D1C4E9; /* Este es un tono de violeta claro */
    -webkit-text-stroke: 0.000001ch white;text-shadow: 2px 2px 4px rgba(177, 6, 241, 3); /* Sombra de color morado claro */
 /* Añade un borde blanco alrededor del texto */
}

/* Estilos para el logo de la Universidad del Quindío */
.uniquindio-logo {
    width: 100%;
    height: 15rem;
}

@media (max-width: 768px) {
    /* Estilos para pantallas pequeñas */
    /* Puedes agregar reglas de estilo específicas aquí */
    header {
        overflow-x: hidden;
        max-width: 100% /* Evita el desplazamiento horizontal en dispositivos móviles */
    }
    
    h1.titulo-principal {
        color: #D1C4E9;
        -webkit-text-stroke: 0.000001ch white;
        text-align: center;
        font-size: 1em;
        top: 2%;
        left: 0%;
    }
    
    h2.sub-title {
        color: #ba99f7;
        font-size: 1em;
        -webkit-text-stroke: 0.000001ch #26003D;
        top: 4%;
        left: 0%;
        text-shadow: 3px 3px 6px rgba(255, 255, 255, 0.2);
    }

    h1.titulo-info{
        width: 13.8em;
        font-size: 1.5em;
     }

    h2.parrafo-info{
        font-size: 1.2em;
        text-shadow: 1px 1px 1px black;
   }

   p.titulo-seccion{
    display: flex; justify-content: center; align-items: center;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    font-size: 0.6em;
    letter-spacing: 10%;
    color: #D1C4E9; /* Este es un tono de violeta claro */
    -webkit-text-stroke: 0.000001ch white; /* Añade un borde blanco alrededor del texto */
    text-shadow: 2px 2px 4px rgba(177, 6, 241, 1); /* Sombra de color morado claro */
    margin: 0 0 3%;
    }

    p.cuentanos-titulo{
        margin-left: 1.6%;
        margin-top: -3%;
        font-size: 0.6em;
    }


    p.informate-titulo{
        margin-left: 3.5%;
        margin-top: -3%;
        display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    font-size: 0.8em;
    color: #D1C4E9;
    -webkit-text-stroke: 0.000001ch white;
    text-shadow: 2px 2px 4px rgba(177, 6, 241, 1);

    }


    .imagen-fondo{
        opacity: 0;
    }

    .video {
        display: flex;
        flex-direction: column; /* Cambia la dirección del flujo a vertical */
        align-items: center; /* Centra los elementos horizontalmente */
    }

    .size-video {
        max-width: 100%; /* Asegura que los videos no se extiendan más allá del contenedor */
        height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
        margin-bottom: 10px; /* Espacio entre los videos si lo deseas */
    }

    .center-item {
        display: flex;
        flex-direction: column; /* Cambia la dirección del flujo a vertical */
        align-items: center; /* Centra los elementos horizontalmente */
    }

    .center-item img {
        max-width: 100%; /* Asegura que las imágenes no se extiendan más allá del contenedor */
        height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
        margin-bottom: 10px; /* Espacio entre las imágenes si lo deseas */
    }

    .uniquindio-logo {
        height: 5rem;
    }

    .instagram-icon{
        margin: -10%;
        width: 50%;
        margin-left: 18%;
    }

    .facebook-icon{
        width: 51%;
        margin-left: 18%;
    }

}
